@import '../../globals';

.contact {
  min-height: 100vh;
  background: $light-wite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@include onCellPhone {
  .contact {
    align-items: initial;
  }
}