@import '../../globals';

.productCard {

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 100px;
    height: 100px;
    margin: auto;
  }

  &__text {
    width: 75%;
    margin-left: 15px;

    &--description {
      max-height: 98px;
      overflow: hidden;
      margin-bottom: 10px;
    }
  }

  &--two-columns {
    height: 300px;
  }

}

@include onTablet {
  .productCard--two-columns {
    height: auto;
  }
}

@include onTabletPortrait {
  .productCard {

    &__content {
      flex-direction: column;
    }

    &__text {
      margin-top: 10px;
    }
  }
}