
@import '../../../globals';

.menuOptions {
  text-decoration: none;
  height: 100%;
  line-height: 50px;
  width: 120px;
  text-align: center;
  font-weight: bold;
  color: $black;

  &--active {
    background: $gray-header-buttons;
  }
}